<ion-header>
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>cadastros</h1>
  <ion-list>
    <ion-list-header>
      Cadastros
    </ion-list-header>

    <ion-item *ngFor="let cadastro of Cadastros" class="user-list">
      <ion-label>
        <h5>
          <ion-icon name="person"></ion-icon> {{cadastro.nome}}
        </h5>
      </ion-label>

      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/cadastro-editar/', cadastro.$key]">
          <ion-icon name="create-outline"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteCadastro(cadastro.$key)">
          <ion-icon name="trash-outline"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLinkActive="tab-selected" routerLink="/cadastro" class="ios" tab="cadastro">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>Cadastros</ion-label>
      </ion-tab-button>  
      <ion-tab-button routerLinkActive="tab-selected" routerLink="/cadastro-registrar" class="ios" tab="cadastro-registrar">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>Cadastrar</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
