<ion-header>
  <ion-toolbar>
    <ion-buttons 
    slot="start">
      <ion-button 
      href="/home">
        <ion-icon 
          class="sparkle"
          name="home-outline">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-list-header>
      Cadastros
    </ion-list-header>

    <ion-item 
      *ngFor="let cadastro of Cadastros" 
      class="user-list">
      <ion-label>
        <h5>
        <ion-icon 
          name="person">
        </ion-icon> 
        {{cadastro.nome}}
        </h5>
        <p>
          <ion-icon 
          name="email">
        </ion-icon> 
        {{cadastro.email}}
        </p>
      </ion-label>
      <div 
        class="item-note" 
        item-end>
        <ion-button 
          color="clear" 
          [routerLink]="['/cadastro-editar/', cadastro.$key]">
          <ion-icon 
            class="sparkle"
            name="create-outline">
          </ion-icon>
        </ion-button>
        <ion-button 
          color="clear"
          (click)="deleteCadastro(cadastro.$key)">
          <ion-icon 
           class="sparkle"
            name="trash-outline">
          </ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>
  <ion-tabs>
    <ion-tab-bar 
      slot="bottom">
      <ion-tab-button 
        color="clear"
        routerLink="/cadastro">
        <ion-icon 
          name="calendar-outline">
        </ion-icon>
        <ion-label>cadastros</ion-label>
      </ion-tab-button>  
      <ion-tab-button 
        routerLink="/cadastro-registrar" 
        tab="cadastro-registrar">
        <ion-icon 
          name="add-circle-outline">
        </ion-icon>
        <ion-label>
          cadastrar
        </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>