<!-- header -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/home">
        <ion-icon 
        class="sparkle"
        name="chevron-back-outline">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- content -->
<ion-content>
  <div #map id="map"></div>
</ion-content>
<!-- footter -->
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-label>
        assista o vídeo no youtube >
      </ion-label>
      <ion-button 
        slot="end" 
        target="_blank"
        href="https://youtu.be/gSaDDxLbKSs"
        color="clear">
        <ion-icon 
        class="sparkle"
        name="sparkles-outline">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>