<ion-header>
  <ion-toolbar>
    <ion-title>sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- card dcom recursos -->
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item 
        *ngFor="let r of recursos">
          <img 
            src="{{r.icone}}"
            width="15"
            slot="start">
            {{r.nome}}
          <br>
        </ion-item>
      </ion-list>
      <ion-fab 
        horizontal="end" 
        vertical="top" 
        slot="fixed">
        <ion-fab-button 
            size="small" 
            color="favorite">
            <ion-icon 
              name="link-outline" 
              size="small"
              color="secondary">
            </ion-icon>
          </ion-fab-button>
          <ion-fab-list 
            side="start">
            <ion-list>
              <ion-item 
              *ngFor="let r of referencias"
              type="button">
                <ion-fab-button 
                target="_blank" 
                href="{{r.referencia}}"
                color="clear">
                <img 
                  src="{{r.icone}}" 
                  width="15">
                </ion-fab-button>
              </ion-item>
            </ion-list>
          </ion-fab-list>
      </ion-fab>
    </ion-card-content>
  </ion-card>
  <!-- card: espiadinha!!! -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        vamos dar uma espiadinha...
      </ion-card-subtitle>
    </ion-card-header>
    <ion-img 
      src="https://c.tenor.com/j6DA98tRPogAAAAC/mr-dinkles-dinkles.gif">
    </ion-img>
  </ion-card>    
  <!-- card git -->
  <ion-card>
    <h1>
      <ion-icon 
        name="logo-github" 
        size="large">
      </ion-icon>
      git
      <ion-fab 
        horizontal="end" 
        vertical="center" 
        slot="fixed">
        <ion-fab-button 
          size="small" 
          color="clear">
          <ion-icon 
            name="logo-github" 
            size="small" 
            color="secondary" 
            show="true">
          </ion-icon>
        </ion-fab-button>
        <ion-fab-list 
          side="start">
          <ion-fab-button 
            target="_blank" 
            href="https://docs.github.com/pt/get-started/quickstart/create-a-repo">
            <ion-icon 
              color="secondary" 
              name="folder-outline">
            </ion-icon>
          </ion-fab-button>
          <ion-fab-button 
            target="_blank" 
            href="https://docs.github.com/pt/get-started/quickstart/create-a-repo">
            <ion-icon 
              color="secondary" 
              name="code-slash-outline">
            </ion-icon>
          </ion-fab-button>
          <ion-fab-button 
            target="_blank" 
            href="https://docs.github.com/pt/get-started/quickstart/create-a-repo">
            <ion-icon 
              color="secondary" 
              name="terminal-outline">
            </ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </h1>
  </ion-card>
  <!-- card ionic -->
  <ion-card>
    <h1>
      <ion-icon 
        name="logo-ionic" 
        color="primary" 
        size="large">
      </ion-icon>
      ionic 5
      <ion-fab 
        horizontal="end" 
        vertical="center" 
        slot="fixed">
        <ion-fab-button 
          size="small" 
          color="clear">
          <ion-icon 
            name="logo-ionic" 
            size="small" 
            color="secondary" 
            show="true">
          </ion-icon>
        </ion-fab-button>
        <ion-fab-list 
          side="start">
          <ion-fab-button 
            target="_blank" 
            href="https://ionicframework.com/blog/announcing-ionic-5/">
            <ion-icon 
              color="secondary" 
              name="code-slash-outline">
            </ion-icon>
          </ion-fab-button>
          <ion-fab-button 
            target="_blank" 
            href="https://ionicframework.com/blog/announcing-ionic-5/">
            <ion-icon 
              color="secondary" 
              name="terminal-outline">
            </ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </h1>
  </ion-card>
  <!-- card angular-->
  <ion-card>
    <h1>
      <ion-icon 
        name="logo-angular" 
        color="danger" 
        size="large">
      </ion-icon>
      angular
      <ion-fab 
        horizontal="end" 
        vertical="center" 
        slot="fixed">
        <ion-fab-button 
          size="small" 
          color="clear">
          <ion-icon 
            name="logo-angular" 
            size="small" 
            color="secondary" 
            show="true">
          </ion-icon>
        </ion-fab-button>
        <ion-fab-list 
          side="start">
          <ion-fab-button 
            target="_blank" 
            href="https://angular.io/guide/what-is-angular">
            <ion-icon 
              color="secondary" 
              name="folder-outline">
            </ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </h1>
  </ion-card>  
  <!-- card html -->
  <ion-card>
    <h1>
      <ion-icon 
        name="logo-html5" 
        color="secondary" 
        size="large">
      </ion-icon>
      html
      <ion-fab 
        horizontal="end" 
        vertical="center" 
        slot="fixed">
        <ion-fab-button 
          size="small" 
          color="clear">
          <ion-icon 
            name="logo-html5" 
            size="small" 
            color="secondary" 
            show="true">
          </ion-icon>
        </ion-fab-button>
        <ion-fab-list 
          side="start">
          <ion-fab-button 
            target="_blank" 
            href="https://developer.mozilla.org/pt-BR/docs/Web/HTML">
            <ion-icon 
              color="secondary" 
              name="code-slash-outline">
            </ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </h1>
  </ion-card>  
  <!-- card typeScript -->
  <ion-card>
    <h1>
      <ion-text 
        color="dark">
        tS
      </ion-text>
      typeScript
      <ion-fab 
        horizontal="end" 
        vertical="center" 
        slot="fixed">
        <ion-fab-button 
          size="small" 
          color="clear">
          <ion-text 
            size="small" 
            color="secondary">
            tS
          </ion-text>
        </ion-fab-button>
        <ion-fab-list 
          side="start">
          <ion-fab-button 
            target="_blank" 
            href="https://www.typescriptlang.org/">
            <ion-icon 
              color="secondary" 
              name="code-slash-outline">
            </ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </h1>
  </ion-card> 
</ion-content>
