#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-header
{
  ion-buttons
  {
      ion-button
      {
          color: clear;
          
          ion-label
          {
              color: var(--ion-color-favorite);
          }
      }
      ion-fab-button
      {
        ion-icon
        {
            color: var(--ion-color-favorite);
        }
      }
  }
}
ion-card-title
{
    color: var(--ion-color-favorite);
    
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
ion-tab-button.sparkle
{
  color: var(--ion-color-favorite);
}
ion-icon.sparkle
{
  color: var(--ion-color-favorite);
}